<footer class="py-3 ">
    <div class="row my-3 mx-0 px-0">
        <div class="col-12 text-center">
            <a routerLink="/movies/" class="btn btn-dark mx-3">Home</a>
            <a routerLink="/movies/" class="btn btn-dark mx-3">Contact</a>
            <a routerLink="/movies/" class="btn btn-dark mx-3">Privacy Policy</a>
            <a routerLink="/movies/" class="btn btn-dark mx-3">Terms & Condition</a>
        </div>
    </div>
    <div class="row my-3 mx-0 px-0">
        <div class="col-12 text-center">
            <a href="https://github.com/ayukse1" class="btn btn-dark mx-2">
                <i class="fab fa-github fa-xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/ardayuksell/" class="btn btn-dark mx-2">
                <i class="fab fa-linkedin fa-xl"></i>
            </a>
            <a href="https://twitter.com/" class="btn btn-dark mx-2">
                <i class="fab fa-twitter fa-xl"></i>
            </a>
            <a href="https://www.instagram.com/" class="btn btn-dark mx-2">
                <i class="fab fa-instagram fa-xl"></i>
            </a>
            <a href="https://www.facebook.com/" class="btn btn-dark mx-2">
                <i class="fab fa-facebook fa-xl"></i>
            </a>
        </div>
    </div>
    <div class="row my-3 mx-0 px-0">
        <div class="col-12 text-center" style="font-size: 12px;">Copyright © 2024 <a href="https://github.com/ayukse1" class="btn-link">ayukse1</a> All rights reserved.</div>
    </div>
</footer>