<main>
  <section class="hero text-center my-4">
    <div class="container">
      <h1 class="mb-4">About Us</h1>
      <p>We are passionate about cinema and dedicated to sharing diverse and compelling stories from around the globe. Our mission is to cultivate a community of film enthusiasts by offering curated films that entertain, provoke thought, and inspire conversation. Whether you're a seasoned cinephile or new to the world of cinema, we invite you to explore with us as we celebrate the art and magic of movies.</p>
      <p>Our platform is designed to be a haven for movie lovers, where they can discover new films, revisit classics, and engage with fellow enthusiasts. We believe that cinema has the power to bridge cultures, inspire creativity, and foster a deeper understanding of the human experience. Join us as we embark on this cinematic journey together, exploring the rich tapestry of stories that film has to offer.</p>
    </div>
  </section>

  <section class="now-showing my-4">
    <div class="container">
      <h2 class="text-center mb-4">Latest Movies</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-6 col-md-4 text-center">
          <div class="movie container-text">
            <img src="../../assets/img/joker.jpg" alt="Movie 1">
            <h3 class="mt-2">Joker</h3>
            <div class="text">
              <p>Arthur Fleck, a party clown and a failed stand-up comedian, leads an impoverished life with his ailing mother.</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 text-center">
          <div class="movie container-text">
            <img src="../../assets/img/barbie.jpg" alt="Movie 2">
            <h3 class="mt-2">Barbie</h3>
            <div class="text">
              <p>Barbie and Ken are having the time of their lives in the colorful and seemingly perfect world of Barbie Land. </p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 text-center">
          <div class="movie container-text">
            <img src="../../assets/img/blackwidow.jpg" alt="Movie 3">
            <h3 class="mt-2">Black Widow</h3>
            <div class="text">
              <p>Natasha Romanoff confronts the darker parts of her ledger when a dangerous conspiracy with ties to her past arises.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mission my-4 py-4 bg-purple">
    <div class="container">
      <h2 class="text-center mb-4">Our Mission</h2>
      <p class="text-center">Our mission is to make the art of cinema accessible to everyone and provide unique experiences to film enthusiasts. We aim to offer a broad perspective by bringing together films from different cultures and genres. By curating a diverse selection of films, we hope to foster a greater appreciation for the art form and its impact on society.</p>
      <p class="text-center">We are committed to creating a welcoming and inclusive environment where audiences can engage with films that challenge, inspire, and entertain. Through special screenings, discussions, and events, we strive to create a space where the magic of cinema can be shared and celebrated. Our goal is to nurture a community that values the power of storytelling and the unique perspectives that cinema brings.</p>

    </div>
  </section>

  <section class="genres my-4">
    <div class="container">
      <h2 class="text-center mb-4">Movie Genres</h2>
      <div class="row">
        <div class="col-6 col-lg-3 text-center">
          <div class="genre">
            <img src="../../assets/img/rebecca.jpg" alt="Drama">
            <h4 class="mt-2">Drama</h4>
            <p>Movies that explore emotional and psychological themes.</p>
          </div>
        </div>
        <div class="col-6 col-lg-3 text-center">
          <div class="genre">
            <img src="../../assets/img/lamb.jpg" alt="Thriller">
            <h4 class="mt-2">Thriller</h4>
            <p>Films that aim to entertain and bring laughter.</p>
          </div>
        </div>
        <div class="col-6 col-lg-3 text-center">
          <div class="genre">
            <img src="../../assets/img/batman.jpg" alt="Action">
            <h4 class="mt-2">Action</h4>
            <p>Exciting and adventurous films.</p>
          </div>
        </div>
        <div class="col-6 col-lg-3 text-center">
          <div class="genre">
            <img src="../../assets/img/homealone.jpg" alt="Comedy">
            <h4 class="mt-2">Comedy</h4>
            <p>Films that make you laugh and feel good.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="community my-4">
    <div class="container">
      <h2 class="text-center mb-4">Community</h2>
      <p class="text-center">Our community events bring together cinema enthusiasts to explore and celebrate the art of film. Join us for special screenings, discussions, and workshops that offer unique insights and experiences. We believe that sharing the cinematic experience with others enhances our understanding and appreciation of films.</p>
      <div class="row">
        <div class="col-md-6 col-lg-4 text-center">
          <div class="community-event container-text">
            <img src="../../assets/img/topmovies.jpg">
            <h4 class="mt-2">Top 100 Movies</h4>
            <div class="text">
              <p>Explore our curated list of the top 100 films of all time, as chosen by our community and critics.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <div class="community-event container-text">
            <img src="../../assets/img/2024movies.jpg">
            <h4 class="mt-2">2024 Movies</h4>
            <div class="text">
              <p>Join us to discover the latest films of 2024 and engage in discussions with fellow moviegoers.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 text-center">
          <div class="community-event container-text">
            <img src="../../assets/img/cultmovies.jpeg" alt="Cult Films">
            <h4 class="mt-2">Cult Movies</h4>
            <div class="text">
              <p>Dive into our collection of cult classics and see why these films have stood the test of time.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact my-4">
    <div class="container">
      <h2 class="text-center mb-4">Contact Us</h2>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" id="message" rows="4" required></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
