<main>
  <section class="hero text-center py-4">
    <div class="container container-text">
      <h1>About Us</h1>
      <div class="text">
        <p>We are passionate about cinema and dedicated to sharing diverse and compelling stories from around the globe. Our mission is to cultivate a community of film enthusiasts by offering curated films that entertain, provoke thought, and inspire conversation. Whether you're a seasoned cinephile or new to the world of cinema, we invite you to explore with us as we celebrate the art and magic of movies.</p>
      </div>
    </div>
  </section>

  <section class="now-showing py-4">
    <div class="container">
      <h2 class="text-center mb-4">Latest Movies</h2>
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="movie container-text">
            <img src="../../assets/img/joker.jpg" alt="Movie 1">
            <h3>Joker</h3>
            <div class="text">
              <p>Arthur Fleck, a party clown and a failed stand-up comedian, leads an impoverished life with his ailing mother.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="movie container-text">
            <img src="../../assets/img/barbie.jpg" alt="Movie 2">
            <h3>Barbie</h3>
            <div class="text">
              <p>Barbie and Ken are having the time of their lives in the colorful and seemingly perfect world of Barbie Land. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="movie container-text">
            <img src="../../assets/img/blackwidow.jpg" alt="Movie 3">
            <h3>Black Widow</h3>
            <div class="text">
              <p>Natasha Romanoff confronts the darker parts of her ledger when a dangerous conspiracy with ties to her past arises.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mission py-4">
    <div class="container container-text">
      <h2 class="text-center">Our Mission</h2>
      <div class="text">
        <p class="text-center">Our mission is to make the art of cinema accessible to everyone and provide unique experiences to film enthusiasts. We aim to offer a broad perspective by bringing together films from different cultures and genres.</p>
      </div>
    </div>
  </section>

  <section class="genres py-4">
    <div class="container">
      <h2 class="text-center mb-4">Movie Genres</h2>
      <div class="row">
        <div class="col-sm-6 col-lg-3 text-center">
          <div class="genre">
            <img src="../../assets/img/rebecca.jpg" alt="Drama">
            <h3>Drama</h3>
            <p>Movies that explore emotional and psychological themes.</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 text-center">
          <div class="genre">
            <img src="../../assets/img/lamb.jpg" alt="Thriller">
            <h3>Thriller</h3>
            <p>Films that aim to entertain and bring laughter.</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 text-center">
          <div class="genre">
            <img src="../../assets/img/batman.jpg" alt="Action">
            <h3>Action</h3>
            <p>Exciting and adventurous films.</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 text-center">
          <div class="genre">
            <img src="../../assets/img/homealone.jpg" alt="Comedy">
            <h3>Comedy</h3>
            <p>Films that make you laugh and feel good.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="community py-4">
    <div class="container container-text">
      <h2 class="text-center mb-4">Community</h2>
      <div class="text">
        <p class="text-center">Our community events bring together cinema enthusiasts to explore and celebrate the art of film. Join us for special screenings, discussions, and workshops that offer unique insights and experiences.</p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 text-center">
          <div class="community-event container-text">
            <img src="../../assets/img/topmovies.jpg">
            <h3>Top 100 Movies</h3>
            <div class="text">
              <p>Explore our curated list of the top 100 films of all time, as chosen by our community and critics.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <div class="community-event container-text">
            <img src="../../assets/img/2024movies.jpg">
            <h3>2024 Movies</h3>
            <div class="text">
              <p>Join us to discover the latest films of 2024 and engage in discussions with fellow moviegoers.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 text-center">
          <div class="community-event container-text">
            <img src="../../assets/img/cultmovies.jpeg" alt="Cult Films">
            <h3>Cult Movies</h3>
            <div class="text">
              <p>Dive into our collection of cult classics and see why these films have stood the test of time.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact py-4">
    <div class="container">
      <h2 class="text-center mb-4">Contact Us</h2>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" id="message" rows="4" required></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
