.drop-menu::after {
    display: none !important;
}

#navbarNavDarkDropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    min-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    z-index: 1000;
}

#navbarNavDarkDropdown .dropdown-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.text-primary{
    color: #eb3321!important;
}
.nav-link{
    color: #dcdbdb;
    font-size: 14px;
}
.nav-link:hover{
    color: #f5f5f5;
}
.nav-item.active .nav-link {
    color: #f5f5f5;
    font-weight: bolder;
  }
  
