<h3 class="mb-3">Create Movie</h3>

<form [formGroup]="movieForm" (ngSubmit)="createMovie()">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" formControlName="title">
        <div class="alert alert-danger" *ngIf="title.invalid && title.touched">
            <p *ngIf="title.errors['required']">Gerekli Alan</p>
            <p *ngIf="title.errors['minlength']">Minimum 5 karakter girilmelidir.</p>
        </div>
    </div>
    <div class="mb-3">
        <label for="agelimit" class="form-label">Age Limit</label>
        <input type="number" class="form-control" name="agelimit" formControlName="agelimit">
    </div>    
    <div class="mb-3">
        <label for="year" class="form-label">Movie Year</label>
        <input type="number" class="form-control" name="year" formControlName="year">
    </div>    
    <div class="mb-3">
        <label for="imdb" class="form-label">IMDB Rate</label>
        <input type="number" class="form-control" name="imdb" formControlName="imdb">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" formControlName="description"></textarea>
    </div>
    <div class="mb-3">
        <label for="moviestars" class="form-label">Movie Stars</label>
        <textarea class="form-control" name="moviestars" formControlName="moviestars"></textarea>
    </div>
    <div class="mb-3">
        <label for="creators" class="form-label">Creators</label>
        <textarea class="form-control" name="creators" formControlName="creators"></textarea>
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image Url</label>
        <input type="text" class="form-control" name="imageUrl" formControlName="imageUrl">
    </div>
    <div class="mb-3">
        <label for="videoUrl" class="form-label">Video Url</label>
        <input type="text" class="form-control" name="videoUrl" formControlName="videoUrl">
    </div>
    <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        <select class="form-select" name="categoryId" formControlName="categoryId">
            <option value="">Seçiniz</option>
            <option *ngFor="let item of categories" [value]="item.id">{{ item.name }}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary me-3">Create</button>
    <button class="btn btn-grey" (click)="clearForm()">Clear</button>
</form>